
.banner{
    background-color:midnightblue;  
    text-align: center; 
    align-items: center;
}
.bannerPagos{
    background-color:#a5a2a2;   
    text-align: center;
    align-items: center;
    /* height:50%; */
}
.color{
    color: midnightblue;
}

.pestaña{
    background-color: midnightblue;
}

.divCarta{
    margin-top: 6%;
    margin-bottom: 6%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: midnightblue !important;
    border-color: midnightblue !important;
}

#imgUnam:hover{
    cursor: pointer;
}

#imgDgire:hover{
    cursor: pointer;
}

#imgUnam{
    max-width: 70px;
    max-height: 50px;
}
#imgDgire{
    max-width: 70px;
    max-height: 50px;
}

#txtUnam{
    color:white;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

#txtDgire{
    color:white;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
}

.logoUser{
    font-size: 1.5em;
    color: rgb(134, 134, 134);
}

.txtPagos{
    color: white;
    font-size: 24px;
}
.footer{
    margin-top: 0.5em;
    text-align: center; 
    
}

.textoFooter{
    padding-left: 4vh; 
    padding-right: 4vh;
    font-size: 0.75em;
}
/*DGIRE Y UNAM*/
@media (min-width: 1001px){
    .hidden-lg, .hidden-md{
        display: none !important;
    }
    .hidden-sm, .hidden-xs{
        display: true;
       }
}

/*DIRECCION GENERAL DE INCORPORACION Y UNIVERSIDAD NACIONAL AUTONOMA MEXICO*/
@media (max-width: 1000px){
    .hidden-sm, .hidden-xs{
     display: none !important;
    }
    .hidden-lg, .hidden-md{
        display:  true;
    }
}
